@model Jiji.Models.Ordene

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Orden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idusuario" class="control-label"></label>
                <select asp-for="Idusuario" class="form-control" asp-items="@(new SelectList(ViewBag.Usuarios, "Id", "Nombre"))" required>
                    <option value="">Seleccione un usuario</option>
                </select>
                <span asp-validation-for="Idusuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" type="datetime-local" required />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
